numpy
#numpy==1.24.3
pandas
scikit-learn
torch==2.2.1
einops
matplotlib
tqdm
#installed torch-2.1.0 torchaudio-2.1.0 torchvision-0.16.0           
pennylane
mamba-ssm
pymupdf
#Successfully installed tokenizers-0.13.3 transformers-4.30.0                                                                                                   